<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
     <%= link_to image_tag("sancarlos.png", alt: "san carlos logo"),
      'https://upload.wikimedia.org/wikipedia/en/3/39/University_of_San_Carlos_logo.png' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
   </div>
</header>